:root {
  --main-linear-graident: linear-gradient(to right, #fc4a1a, #f7b733);
  --bg-color: #27323e;
  --white-color: #fff;
  --dark-color: #212529;
  --main-color: #fc4a1a;
  --black-color: #000;
}

.navbar a span {
  background: linear-gradient(135deg, #fc4a1a, #f7b733);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
}

.btn,
.box {
  background: linear-gradient(135deg, #fc4a1a, #f7b733);
}
.title,
.titles {
  position: relative;
  z-index: 100;
}
.img {
  transform: rotate(45deg);
  width: 200px;
  height: 200px;
}

.example-projects {
  background-color: var(--dark-color);
  overflow: hidden;
}
.example-projects .project-title {
  color: #ccd6f6;
}
.example-projects .project-subtitle {
  color: var(--main-color);
}
.example-projects .boxs {
  color: #ccd6f6;
  background-color: #27323eb8;
  padding: 30px;
  border-radius: 15px;
  margin-top: 40px;
}
.example-projects .image img {
  border-top: 25px solid var(--main-color);
  border-left: 25px solid var(--main-color);
  border-radius: 5px;
  position: relative;
  box-shadow: 10px 10px 100px 50px var(--main-color);
}
.example-projects .reversed {
  margin-top: 215px;
  text-align: right;
}
.example-projects .reversed .image img {
  border-top: 25px solid var(--main-color);
  border-right: 25px solid var(--main-color);
  border-left: 0;
}

.testimonials {
  /* background-color: var(--bg-color); */
}
.testimonials .card {
  border-radius: 0;
  padding: 20px;
  background-color: #d9d5d5;
}

.portfile img {
  height: 360px;
}
.portfile .im {
  height: 180px;
}
footer {
  background-color: var(--bg-color);
}
footer a {
  color: #d9d5d5;
  font-weight: bold;
}
footer input:focus {
  outline: 0;
  color: var(--white-color);
}
.form-control::placeholder {
  color: #fafafa;
  opacity: 0.7;
}
i {
  cursor: pointer;
}
